@charset "UTF-8";

body

{
  background-image: linear-gradient (to bottom bottom, red, blue);
  color:black;
  font-size: 12pt;
  font-family: Arial;
  text-align: center;
/**  aling-itens: center;
  justify-content: center; **/
}

  
    
