@charset "UTF-8";

body

{
  background-image: Linear-gradient(to bottom, pink, violet);
  color:black;
  font-size: 12pt;
  font-family: Arial;
  text-align: center;
  aling-itens: center;
  justify-content: center;
}

  
    
